# Ignore object files and executables
*.o
*.out

# Ignore compiled libraries
*.a
*.lib

# Ignore build directories
build/
bin/
out/


# Ignore generated documentation
doc/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db